RewriteEngine On
RewriteBase /ppa/pengguna/orang_tua/jadwal/

# Menghapus ekstensi .php dari URL
RewriteCond %{REQUEST_FILENAME} !-ds
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

